.video-body{
    margin: 20px 20px;
}

.video-body > img{
    width:250px;
    height: 150px;
}


.video-avatar{
    display: flex;
}
.video-text{
    margin-left: 10px;
}
.video-text > h3{
    text-transform: capitalize;
}
.video-text > p {
    font-size: 12px;
    color: grey
}